# Virtual Environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.py[cod]

# Large ML Files (Weights/Datasets)
*.pt
*.pth
*.weights
programs/data/
uploads/
crops/

# OS files
.DS_Store
Thumbs.db
